body {
  color: #f2f2f2;
  margin: 0;
}

/* navigation bar styling */
.navBar {
  height: 50px;
  width: 100%;
  background-color: #383838;
  padding-left: 10px;
  text-justify: auto;
  position: fixed;
  display: flex;
  align-items: center;
}

.navBar img {
  margin-right: 5px;
}
.navBar a {
  text-decoration: none;
  color: #f2f2f2;
  margin: auto 5px;
  font-family: "Lato", sans-serif;
}
.navBar a:hover {
  color: #cdbe78;
}

/* cover image styling */
#aboutCover {
  padding-top: 70px;
  background-color: #cdbe78;
  text-align: center;
  color: #066163;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.25rem;
}
h1 img {
  width: 40px;
}
.cover-img {
  width: 40%;
  border-radius: 50px;
}
/* footer styling */
.foot {
  margin: 0;
  height: 30px;
  width: 100%;
  color: #f2f2f2;
  background-color: #383838;
  text-align: center;
  padding: 10px;
}

.foot a {
  margin: auto;
  margin-left: 10px;
  font-size: 1.2rem;
}

#id {
  color: #4267b2;
}

#tw {
  color: #00acee;
}

#g {
  color: #db4437;
  margin-right: 50px;
}
/* About-us section styling */

.about-us {
  padding: 50px 100px;
  background-color: #cdbe78;
  color: #f2f2f2;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
}

section h1 {
  color: #383838;
  background-color: #f2f2f2;
  display: inline-block;
  padding: 5px;
}
li h3 {
  color: #066163;
  padding-top: 8px;
}

li p {
  font-size: 1.2rem;
}

li {
  color: #383838;
}
